@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap');

#page-header{
    background-image: url("../Images/banner/1-1.jpg");
    width: 100%;
    height: 40vh;
    background-repeat: no-repeat;
    background-color: pink;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h2{
     color: rgb(139, 249, 76);
     text-shadow: 1px 1px 2px rgb(237, 35, 68);
}

#page-header p{
    color: rgb(97, 236, 16);
     text-shadow: 3px 1px 1px rgb(31, 3, 8);
     
}

#pagination{
    text-align: center;
}

#pagination a{
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}

#pagination a i{
    font-size: 16px;
    font-weight: 600;
}

#pagination a:hover{
    background-color: rgb(7, 88, 88);
    box-shadow: 2px 2px 2px black;
    transition:  cubic-bezier(0.39, 0.575, 0.565, 1);
    cursor: pointer;
}



/* Sproduct Page styling started from here */

#prodetails{
    display: flex;
    margin-top: 20px;
}

#prodetails .single-pro-image{
    width: 40%;
    margin-right: 50px;
}

.small-img-group{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails .single-pro-details{
    width: 50%;
    padding-top: 30px;
}

#prodetails  .single-pro-details h4{
    padding: 40px 0 20px 0;
}

#prodetails  .single-pro-details h2{
    font-size: 26px;
}

#prodetails  .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails  .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#prodetails  .single-pro-details button{
    background: #088178;
    color: #fff;
    box-shadow: 1px 1px 2px black;
}

#prodetails  .single-pro-details button:hover{
    background-color: rgb(4, 120, 80);
    color: antiquewhite;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: 0px 0px 2px black;
}

#prodetails  .single-pro-details input:focus{
    outline: none;
}

#prodetails  .single-pro-details button{
    background-color: #088178;
    color: #fff;
}


#prodetails  .single-pro-details span{
    line-height: 25px;
}



/* Single Product */

@media (max-width:477px){
            #header {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                padding: 10px 30px;
                z-index: 999;
                background-color: #fff;
                box-shadow: 0,0,0,0.1;
            }

            #hero {
                background-position: 55%;
                padding: 0 20px ;
    
            }   
 
            h2 {
                font-size: 32px;
    
    }        
   
            h1 {
                font-size: 38px;
    
            }

            #hero button {
            padding: 12px 25px 12px 25px;
    
        }
    
        #feature{
            justify-content: space-between;
        }

        #feature .feature-box {
        width: 155px;
        margin: 0 0 15px 0;
    }   

        #product1 .pro {
        width: 100%;
    }
    
/* Banner adjustments */

        #banner,
        #sm-banner .banner-box,
        #sm-banner .banner-box2,
        #banner3 .banner-box{
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        #banner{
            height: 35vh;
            width: 90%;
        }

        #sm-banner .banner-box{
            height: 40vh;
            width: 90%;
        }

        #sm-banner .banner-box2{
            margin-top: 20px;
            width: 90%;
        }

        #banner3 {
            padding: 0 20px;
        }

        #banner3 .banner-box{
            width: 90%;
        }

        #Newsletter {
            padding: 40px 20px;
    }
 
        #Newsletter .form {
        width: 100%;
    }

        footer .copyright {
        text-align: start;
    }

    /* // Single Product on mobile device */
    #prodetails{
    display: flex;
    flex-direction: column;
    }

    #prodetails .single-pro-image {
    width: 100%;
    margin-right: 50px;
    }

    #prodetails .single-pro-details {
    width: 100%;
    padding-top: 30px;
}
    
}

/* Extra small devices (iphone4 , very small Androids) */

@media (max-width: 360px) {
  .section-p1 {
    padding: 20px;
  }

  #navbar {
    width: 240px; 
    padding: 60px 0 0 10px;
  }    

  #navbar li {
    margin-bottom: 18px; 
  }

  #hero {
    height: 60vh;
    padding: 0 20px; 
    background-position: center top; 
  }

  h1 {
    font-size: 24px; 
  }

  h2 {
    font-size: 20px;
  }

  #feature {
    flex-direction: column; 
    align-items: center;
  }


  #feature .feature-box {
    width: 90%; 
    margin-bottom: 15px;
  }

  #product1 .pro-container {
    flex-direction: column; 
    align-items: center;
  }

  #product1 .pro {
    width: 90%; 
    margin: 10px 0;
  }

  #banner {
    height: 20vh;
    box-shadow: none; 
  }

  #sm-banner .banner-box {
    height: 25vh;
    min-width: 100%;
  }

  #banner3 {
    padding: 0 10px;
  }

  #banner3 .banner-box {
    width: 100%;
    margin-bottom: 15px;
  }

  #Newsletter .form {
    width: 100%;
  }

  #mobile i {
    font-size: 20px; 
    padding-left: 10px;
  }

  #close {
    top: 20px;
    left: 20px;
    font-size: 20px;
  }

  
}
