@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap');

#page-header{
    width: 100%;
    height: 40vh;
    background-repeat: no-repeat;
    background-color: pink;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h2{
     color: rgb(233, 102, 185);
     text-shadow: 1px 1px 2px rgb(255, 255, 255),
                  1px 4px 5px black;
}

#page-header p{
    color: rgb(207, 10, 105);
    text-shadow: 1px 1px 2px #7b064f, /* red */ 2px 2px 3px #439a09,;
     
}

#pagination{
    text-align: center;
}

#pagination a{
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}

#pagination a i{
    font-size: 16px;
    font-weight: 600;
}

#pagination a:hover{
    background-color: rgb(7, 88, 88);
    box-shadow: 2px 2px 2px black;
    transition:  cubic-bezier(0.39, 0.575, 0.565, 1);
    cursor: pointer;
}

/* blog-header styling from here */

#page-header.blog-header{
    background-image: url("./Images/banner/b19.jpg");
    box-shadow: 4px 4px 4px black;
}

#blog{
    padding: 150px 150px 0 150px;
}

#blog .blog-box{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
}

#blog .blog-img{
    width: 50%;
    margin-right: 40px;
    box-shadow: 2px 2px 8px black;
    
}

#blog img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#blog .blog-details{
    width: 50%;
}

#blog .blog-details a{
    color: rgb(228, 140, 193);
    text-decoration: none;
    font-weight: 850;
    font-size: 18px;
    position: relative;
    transition: 0.3s;
}

#blog .blog-details a::after{
    content: "";
    width: 50px;
    height: 1px;
    background-color: rgb(226, 122, 184);
    position: absolute;
    bottom: 4px;
    right: -52px;
}

#blog .blog-details a:hover{
     color: #088178;
}

#blog .blog-details a:hover::after{
     background-color: #088178;
}

#blog .blog-box h1{
     position: absolute;
     top: -49px;
     left: 0;
     font-size: 70px;
     font-weight: 700;
     color: rgb(16, 23, 29);
     text-shadow: 5px 2px 3px rgb(244, 109, 170),
                  6px 1px 1px black;
     z-index: -9;
}



/* blog-header styling ended from here */

@media (max-width:477px){
            #header {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                padding: 10px 30px;
                z-index: 999;
                background-color: #fff;
                box-shadow: 0,0,0,0.1;
            }

            #hero {
                background-position: 55%;
                padding: 0 20px ;
    
            }   
 
            h2 {
                font-size: 32px;
    
    }        
   
            h1 {
                font-size: 38px;
    
            }

            #hero button {
            padding: 12px 25px 12px 25px;
    
        }
    
        #feature{
            justify-content: space-between;
        }

        #feature .feature-box {
        width: 155px;
        margin: 0 0 15px 0;
    }   

      /* Blog Page */
      

    
/* Banner adjustments */

        #banner,
        #sm-banner .banner-box,
        #sm-banner .banner-box2,
        #banner3 .banner-box{
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        #banner{
            height: 35vh;
            width: 90%;
        }

        #sm-banner .banner-box{
            height: 40vh;
            width: 90%;
        }

        #sm-banner .banner-box2{
            margin-top: 20px;
            width: 90%;
        }

        #banner3 {
            padding: 0 20px;
        }

        #banner3 .banner-box{
            width: 90%;
        }

        #Newsletter {
            padding: 40px 20px;
    }
 
        #Newsletter .form {
        width: 100%;
    }

        footer .copyright {
        text-align: start;
    }

    
    
}

/* Extra small devices (iphone4 , very small Androids) */

@media (max-width: 360px) {
  .section-p1 {
    padding: 20px;
  }

  #navbar {
    width: 240px; 
    padding: 60px 0 0 10px;
  }    

  #navbar li {
    margin-bottom: 18px; 
  }

  #hero {
    height: 60vh;
    padding: 0 20px; 
    background-position: center top; 
  }

  h1 {
    font-size: 24px; 
  }

  h2 {
    font-size: 20px;
  }

  #feature {
    flex-direction: column; 
    align-items: center;
  }


  #feature .feature-box {
    width: 90%; 
    margin-bottom: 15px;
  }

  #product1 .pro-container {
    flex-direction: column; 
    align-items: center;
  }

  #product1 .pro {
    width: 90%; 
    margin: 10px 0;
  }

  #banner {
    height: 20vh;
    box-shadow: none; 
  }

  #sm-banner .banner-box {
    height: 25vh;
    min-width: 100%;
  }

  #banner3 {
    padding: 0 10px;
  }

  #banner3 .banner-box {
    width: 100%;
    margin-bottom: 15px;
  }

  #Newsletter .form {
    width: 100%;
  }

  #mobile i {
    font-size: 20px; 
    padding-left: 10px;
  }

  #close {
    top: 20px;
    left: 20px;
    font-size: 20px;
  }

  
}